# Parsing Chess Tournament Cross Table

## Importing Libraries and General Setup

For parsing the text file, I utilized Python's re (regular expressions) and pandas, specifically the DataFrame function:

In [24]:
import re
import pandas as pd
from pandas import DataFrame

## Opening the File and Parsing the Rows

I only started using regular expressions a few weeks ago, and need more practice. Since I had to get the information into a DataFrame, I knew I would need to get each column together, so I set up lists for each relavant piece of data.

I started by parsing the texfile, splitting each line, and then removing the lines inbetween each record by passing any line starting with `'-'`.  Any relevant rows were then passed into a new list called "rows".

In [11]:
txtfile = open('/Users/Shared/tournamentinfo.txt', 'rb')

rows = []
rows2 = []
names = []
pair_num = []
total_pts= []
state = []
scores = []
player_id = []
pre_score = []
post_score = []

for line in txtfile:
    line = re.split(r'\n{1,}', line)
    if line[0][0] == '-':
        pass
    else:
        rows.append(line)

## Getting rid of the `"|"` delimiter

Now that I have each row separate, I needed to get rid of the bar inbetween each record. I looped over the `rows` list, and appended the split up rows into a new list called `rows2`.

In [12]:
for i in rows:
    i = i[0].split('|')
    rows2.append(i)

## Putting together the tournament player records.

Each record for the players in the tournament are actually two rows; conveniently each row starts with either a number or the State abbreviation.  I looped over the `rows2` list, and appended the appropriate part of the list row to the according empty list (created above).

Using the `re.search(r'\d', ...)` I was able to verify rows that started with numbers (first row of each tournament player), and the ones that did not (second row, starting with the state).

In [14]:
for record in rows2:
    if re.search(r'\d', record[0]):
        names.append(record[1].rstrip())
        pair_num.append(record[0].strip())
        total_pts.append(record[2].strip())
    else:
        state.append(record[0].strip())
        scores.append(record[1].split())

Using this method, the first two rows which contain headers, were caught by my "for loops", so I needed to remove the first two rows from the `scores` and `state` lists:

In [15]:
scores = scores[2:]
state = state[2:]

### One more list to parse over...

The scores list actually contains the tournament player id, pre- and post-score, so I needed to loop over these to separate this information.  Again, I created a list for each piece of information, and then appended that information to the appropriate list using string slices.

In [17]:
for s in scores:
    player_id.append(s[0])
    pre_score.append(s[3][:4])

An example of one of the lists:

In [18]:
print pre_score

['1794', '1553', '1384', '1716', '1655', '1686', '1649', '1641', '1411', '1365', '1712', '1663', '1666', '1610', '1220', '1604', '1629', '1600', '1564', '1595', '1563', '1555', '1363', '1229', '1745', '1579', '1552', '1507', '1602', '1522', '1494', '1441', '1449', '1399', '1438', '1355', '980P', '1423', '1436', '1348', '1403', '1332', '1283', '1199', '1242', '377P', '1362', '1382', '1291', '1056', '1011', '935', '1393', '1270', '1186', '1153', '1092', '917', '853', '967', '955P', '1530', '1175', '1163']

Now that I am done with the textfile, I will close it to make sure that the open file is not taking up any computing resources:

In [19]:
txtfile.close()

### Time to make the DataFrame

Now that I have each "column" of information parsed out of the text file, I will use the `zip` function to put each list together into an object called `chess_match`:

In [30]:
chess_match = zip(names, player_id, state, pair_num, total_pts, pre_score)

I probably could have grabbed the header row from the text file using a loop or passing the first row of the text file into it's own variable.  However, I chose to simply name the columns in the pandas DataFrame function:

In [26]:
df = DataFrame(data = chess_match, columns=['Name', 'ID', 'State', 'Pair No.', 'Total Points', 'Pre-score'])

The code below sets the maximum rows to display in the pandas DataFrame.  Without it, there would be a summarised set of rows (i.e. rows 30-35) shown as one row with `'...'` in each cell.

In [27]:
pd.options.display.max_rows = 100

### Below is the pandas DataFrame

In [28]:
df

,Name,ID,State,Pair No.,Total Points,Pre-score
0,GARY HUA,15445895,ON,1,6.0,1794
1,DAKSHESH DARURI,14598900,MI,2,6.0,1553
2,ADITYA BAJAJ,14959604,MI,3,6.0,1384
3,PATRICK H SCHILLING,12616049,MI,4,5.5,1716
4,HANSHI ZUO,14601533,MI,5,5.5,1655
5,HANSEN SONG,15055204,OH,6,5.0,1686
6,GARY DEE SWATHELL,11146376,MI,7,5.0,1649
7,EZEKIEL HOUGHTON,15142253,MI,8,5.0,1641
8,STEFANO LEE,14954524,ON,9,5.0,1411
9,ANVIT RAO,14150362,MI,10,5.0,1365
10,CAMERON WILLIAM MC LEMAN,12581589,MI,11,4.5,1712
11,KENNETH J TACK,12681257,MI,12,4.5,1663
12,TORRANCE HENRY JR,15082995,MI,13,4.5,1666
13,BRADLEY SHAW,10131499,MI,14,4.5,1610
14,ZACHARY JAMES HOUGHTON,15619130,MI,15,4.5,1220
15,MIKE NIKITIN,10295068,MI,16,4.0,1604
16,RONALD GRZEGORCZYK,10297702,MI,17,4.0,1629
17,DAVID SUNDEEN,11342094,MI,18,4.0,1600
18,DIPANKAR ROY,14862333,MI,19,4.0,1564
19,JASON ZHENG,14529060,MI,20,4.0,1595
20,DINH DANG BUI,15495066,ON,21,4.0,1563
21,EUGENE L MCCLURE,12405534,MI,22,4.0,1555
22,ALAN BUI,15030142,ON,23,4.0,1363
23,MICHAEL R ALDRICH,13469010,MI,24,4.0,1229
24,LOREN SCHWIEBERT,12486656,MI,25,3.5,1745
25,MAX ZHU,15131520,ON,26,3.5,1579
26,GAURAV GIDWANI,14476567,MI,27,3.5,1552
27,SOFIA ADINA STANESCU-BELLU,14882954,MI,28,3.5,1507
28,CHIEDOZIE OKORIE,15323285,MI,29,3.5,1602
29,GEORGE AVERY JONES,12577178,ON,30,3.5,1522
30,RISHI SHETTY,15131618,MI,31,3.5,1494
31,JOSHUA PHILIP MATHEWS,14073750,ON,32,3.5,1441
32,JADE GE,14691842,MI,33,3.5,1449
33,MICHAEL JEFFERY THOMAS,15051807,MI,34,3.5,1399
34,JOSHUA DAVID LEE,14601397,MI,35,3.5,1438
35,SIDDHARTH JHA,14773163,MI,36,3.5,1355
36,AMIYATOSH PWNANANDAM,15489571,MI,37,3.5,980P
37,BRIAN LIU,15108523,MI,38,3.0,1423
38,JOEL R HENDON,12923035,MI,39,3.0,1436
39,FOREST ZHANG,14892710,MI,40,3.0,1348
40,KYLE WILLIAM MURPHY,15761443,MI,41,3.0,1403
41,JARED GE,14462326,MI,42,3.0,1332
42,ROBERT GLEN VASEY,14101068,MI,43,3.0,1283
43,JUSTIN D SCHILLING,15323504,MI,44,3.0,1199
44,DEREK YAN,15372807,MI,45,3.0,1242
45,JACOB ALEXANDER LAVALLEY,15490981,MI,46,3.0,377P
46,ERIC WRIGHT,12533115,MI,47,2.5,1362
47,DANIEL KHAIN,14369165,MI,48,2.5,1382
48,MICHAEL J MARTIN,12531685,MI,49,2.5,1291
49,SHIVAM JHA,14773178,MI,50,2.5,1056
50,TEJAS AYYAGARI,15205474,MI,51,2.5,1011
51,ETHAN GUO,14918803,MI,52,2.5,935
52,JOSE C YBARRA,12578849,MI,53,2.0,1393
53,LARRY HODGE,12836773,MI,54,2.0,1270
54,ALEX KONG,15412571,MI,55,2.0,1186
55,MARISA RICCI,14679887,MI,56,2.0,1153
56,MICHAEL LU,15113330,MI,57,2.0,1092
57,VIRAJ MOHILE,14700365,MI,58,2.0,917
58,SEAN M MC CORMICK,12841036,MI,59,2.0,853
59,JULIA SHEN,14579262,MI,60,1.5,967
60,JEZZEL FARKAS,15771592,ON,61,1.5,955P
61,ASHWIN BALAJI,15219542,MI,62,1.0,1530
62,THOMAS JOSEPH HOSMER,15057092,MI,63,1.0,1175
63,BEN LI,15006561,MI,64,1.0,1163

### Now to pass the DataFrame to a .csv file:

In [29]:
df.to_csv('chessmatches.csv', index=True, header=True)